<p id="notice"><%= notice %></p>

<p>
  <b>Telephone Number:</b>
  <%= @fnbl_pim_contact_item.value %>
</p>

<%= link_to 'Edit', edit_fnbl_pim_contact_item_path(@fnbl_pim_contact_item) %> |
<%= link_to 'Back', fnbl_pim_contact_items_path %>
